.grid-container3{
    display:grid;
    grid-template-columns: auto auto auto;
    background-color:gray;
    justify-content: space-evenly;
  }
  
  .grid-container3>div{
    width: 25vw;
    height: 50vh;
    padding: 15px;
    margin: 15px;
    border: 2px black solid;
  }

  h5{
    text-align: center;
  }

  .plano{
    background-color:aqua;
  }

  .gradiente{
    background:linear-gradient(to right, aqua, blue);
  }

  .imagen{
    background-image: url(/imagenes/por-que-el-cielo-se-torna-naranja-durante-el-atardecer-1684769231676_1280.webp);
    
  }